/*============================================================
	Property of:		MISOM TECHNOLOGIES
	Developer:			AARON MCCOLOUGH
	Application Name:	FARA
	Directory:			FARA/MENU/CSS
	File Name:			main.css
=============================================================*/

#content_container {
	position: fixed;
	width: 100%;
	height: calc(100% - 64px);
	top: 64px;
	background: #f2f2f2;
	overflow-y: auto;
}

.side-nav a {
	font-size: 1.2rem;
}

.side-nav li {
	padding: 0px !important;
}

.side-nav .collapsible-header {
	margin: 0px !important;
}

.side-nav li:hover, .side-nav li.active {
	background-color: #444 !important;
}

.side-nav .collapsible-body li:hover, .side-nav .collapsible-body li.active {
	background-color: #444 !important;
}

.side-nav .logo:hover {
	background-color: #000 !important;
}